* {
    background-color: #0A1828;
    color: #BFA181;
}

.header{
    text-align: center;
    position: fixed;
    font-size: 200px;
    width: 100%;
    top: 0%;
    z-index: 100;
}

.title {
    padding-top: 400px;
    padding-left: 50px;
    padding-bottom: 200px;
    text-align: left;
    font-size: 100px;
    animation: fade-in 1.5s, slide-up 1.5s;
    white-space: nowrap
}

.tabl {
    font-size: 50px;
}

.about {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 60%;
    font-size: 50px;
    float: left;
}

.content {
    font-size:100px;
    position: absolute;
    margin-left: 45%;
    float: right;
    margin-right: 50px;
}

hr {
    border-top: solid 2px #BFA181;
    margin-right: 50px;
}

table {
    width: 100%;
}

ul {
    margin-top: 0px;
}

li {
    font-size: 75px;
}

ol {
    margin-left: 50px;
}

.proj-description {
    font-size: 50px;
}

.skills {
    margin-top: 50px;
    float: left;
    font-size:100px;
    margin-left: 50px;
    margin-right: 50px;
    width: 40%;
}

button {
    border: solid;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}


.contact {
    text-align: center;
    font-size: 100px;
    z-index: -1;
    margin-left: -81.818181%;
    padding-left: 50px;
}

.contactinfo {
    font-size: 75px;
}

 @keyframes fade-in{
    0%{opacity: 0%;}
    100%{opacity: 100%;}
 }

 @keyframes slide-up{
    from {
        margin-left: 25%;
      }
    
      to {
        margin-left: 0%;
      }
 }