@import "tailwindcss";

:root {
  color: #FAFAFA;
  background-color: #08090A;
  text-align: center;
  font-family: Roboto, Helvetica;
}

.nav {
  background-color: white;
  color: black;
}

button:hover {
  color: white;
}

